/*~
/anjuta.desktop
/anjuta.desktop.in
/autom4te.cache
/*.bak
/config.cache
/config.h
/config.log
/config.lt
/config.status
/config.status.lineno
/configure
/configure.lineno
/.deps
/.gitignore
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/intltool-extract
/intltool-extract.in
/intltool-merge
/intltool-merge.in
/intltool-update
/intltool-update.in
/_libs
/.libs
/libtool
/po/*.gmo
/po/*.mo
/po/.intltool-merge-cache
/po/it.gmo
/po/ja.gmo
/po/kn.gmo
/po/ko.gmo
/po/lt.gmo
/po/lv.gmo
/po/mai.gmo
/po/Makefile
/po/Makefile.in
/po/Makefile.in.in
/po/mk.gmo
/po/ml.gmo
/po/*.mo
/po/mr.gmo
/po/ms.gmo
/po/nb.gmo
/po/ne.gmo
/po/nl.gmo
/po/oc.gmo
/po/or.gmo
/po/pa.gmo
/po/pl.gmo
/po/POTFILES
/po/stamp-it
/so_locations
/stamp-h1
/.*.swp
/*.tab.c
/tags
/TAGS
