Massimo Cora <maxcvs@email.it>
Abderrahim Kitouni <a.kitouni@gmail.com> <akitouni@src.gnome.org>
Adam Weinberger <adamw@gnome.org> <adamw@src.gnome.org>
Akom Chotiphantawanon <knight2000@gmail.com>
Andy Piper <andy.piper@freeuk.com> <andyp@src.gnome.org>
Andy Piper <andy.piper@freeuk.com> <andyp@users.sourceforge.net>
Antón Méixome <meixome@mancomun.org> <meixome@mancoumun.org>
Antón Méixome <meixome@mancomun.org>
Aron Xu <aronxu@gnome.org> <aronxu@src.gnome.org>
Baris Cicek <baris@teamforce.name.tr> <bcicek@src.gnome.org>
Biswapesh Chattopadhyay <biswapesh_chatterjee@tcscal.co.in>  <biswapesh@src.gnome.org>
Bolesław Kulbabiński <bolekk@gmail.com>
Branko Kokanović <branko.kokanovic@gmail.com>
Bruce Cowan <bcowan@fastmail.co.uk> <bruce@bcowan.me.uk>
Carlos Perelló Marín <carlos@gnome-db.org>
Christian Kirbach <christian.Kirbach@googlemail.com> <ckirbach@src.gnome.org>
Christian Kirbach <christian.Kirbach@googlemail.com> <christian.Kirbach@googlemail.com>
Daniel Elstner <daniel.kitta@gmail.com> <danielk@openismus.com>
Daniel Mustieles <daniel.mustieles@gmail.com>
Daniel Nylander <po@danielnylander.se> <dnylande@src.gnome.org>
David Lodge <dave@cirt.net> <dlodge@src.gnome.org>
Eugenia Gabrielova <genia.likes.science@gmail.com>
T.Aihana <aihana@gnome.gr.jp>
Fran Diéguez <fran.dieguez@mabishu.com> <frandieguez@ubuntu.com> <fran.dieguez@mabishu.com>
Francisco Javier F. Serrador <serrador@openshine.com> <serrador@cvs.gnome.org>
Gabor Kelemen <kelemeng@gnome.hu> <kelemeng@src.gnome.org>
Gabor Kelemen <kelemeng@gnome.hu> <kelemeng@gnome.org>
Gil Forcada Codinachs <gforcada@src.gnome.org> Gil Forcada <gforcada@gnome.org>
Gustavo Maciel Dias Vieira <gustavo@sagui.org> <gdvieira@zaz.com.br>
Hendrik Richter <hendrikr@gnome.org> <hendrikr@src.gnome.org>
Hendrik Richter <hendrikr@gnome.org> <hendi@gnome-de.org>
Ignacio Casal Quinteiro <icq@src.gnome.org> <nacho.resa@gmail.com>
Ihar Hrachyshka <iharh@src.gnome.org> <ihar.hrachyshka@gmail.com>
Ilkka Tuohela <ituohela@src.gnome.org> <hile@iki.fi>
James Liggett <jrliggett@cox.net> <jrliggett@src.gnome.org>
Javier Jardón <jjardon@gnome.org> <javierjc1982@gmail.com>
Jean-Noel Guiheneuf <jnoel@src.gnome.org> <jnoel@saudionline.com.sa>
Johannes Schmid <jhs@gnome.org> <clubfan@users.sourceforge.net> 
Johannes Schmid <jhs@gnome.org> <clubfan@users.sourceforge.net> 
Johannes Schmid <jhs@gnome.org> <jhs@cvs,gnome.org> 
Johannes Schmid <jhs@gnome.org> <jhs@cvs.gnome.org>
Johannes Schmid <jhs@gnome.org> <jhs@idefix.localdomain>
Johannes Schmid <jhs@gnome.org> <jhs@idefix>
Johannes Schmid <jhs@gnome.org> <jhs@src.gnome.org>
Johannes Schmid <jhs@gnome.org> <jhsægnome.org>
Johannes Schmid <jhs@gnome.org> <jschmid@gnome.org>
Johannes Schmid <jhs@gnome.org> <set EMAIL_ADDRESS environment variable>
Johannes Schmid <jhs@gnome.org> <jhs@Obelix>
Johannes Schmid <jhs@gnome.org> <jhs.gnome.org>
Johannes Schmid <jhs@gnome.org> <jha@gnome.org>
Johannes Schmid <jhs@gnome.org> Johanes Schmid <jhs@gnome.org>
Johannes Schmid <jhs@gnome.org> Johannes  Schmid <jhs@gnome.org>
Johannes Schmid <jhs@gnome.org> Johannes <jhs@gnome.org>
