/**
 * Styles that are not a part of page layout.
 *
 * For example:
 *  Fonts
 *  Sizes
 *  Decoration
 *  Separators
 */
body {
  font-family: verdana, arial, sans-serif;
}

/*div#content {
	max-width: 50em;
}*/

div#content a {
	color: #3465a4;
	border-bottom: 1px dotted #888;
	text-decoration: none;
}

div#content a:hover {
	border-bottom: 1px solid #888;
}

div#sidebar a {
        color: #3465a4;
        border-bottom: 1px dotted #888;
        text-decoration: none;
}

div#sidebar a:hover {
        border-bottom: 1px solid #888;
}

h1.first {
  margin-top: 0;
  padding-top: 0;
}

h2, h3, h4, h5, h6 {
  color: #3f3f3f;
}

h1 {
  font-size: 1.4em;
}

h2 {
  font-size: 1.2em;
}

h3 {
  font-size: 1.0em;
}

table {
  border-collapse: collapse;
  border: 1px solid #eeee;
}

/*  lists  */
.list {
  margin-top:.5em;
}
.list tr td {
  padding:.2em;
  text-align:left;
}
.list td label {
  border-bottom:1px dashed #999;
  font-weight:normal;
}
.list th {
  background: #ccf;
  border: 1px solid #000;
  font-weight: bold;
  padding: 2px;
}
.list th a {
  display: block;
  padding:.2em 1.2em .2em .2em;
  text-align: left;
}
.list th a:hover {
  background-color: #fff;
}
.row1 {
  background-color: #eee;
}
.row2 {
  background-color: #ddd;
}
.row1:hover, .row2:hover {
  background-color: #fff;
}

.record th {
  text-align: right;
}

/* styling page content */

h1 {
	font-size: 1.5em;
	color: #3f3f3f;
}

/* styling form widgets like bugzilla.gnome.org */
input,textarea {
 border: 1px solid #6f6f6f;
/* background: #dddddd; */
}

input.login_small {
 border-style: none;
}

input:focus,textarea:focus {
  background-color: #f7f2d0;
  color: #000000;
}

/* select {
 border: groove
} */

option {
 border: 0px none #ffffff;
}

input[type=radio] {
  margin-left: 1em;
}

/* footer */

#footer {
	text-align: center;
	margin: 3em 3em 1em 3em;
	border-top: 1px solid gray;
	padding-top: 1.5em;
	color: #888;
	font-size: 80%;
	clear: both;
}

#footer ul {
	margin: 0;
	padding: 0;
}

#footer li {
	display: inline;
	padding: 0 1em;
}

#footer a {
	color: #3465a4;
	border-bottom: 1px dotted #888;
	text-decoration: none;
}

#footer a:hover {
	border-bottom: 1px solid #888
}

